jupyterlab>=2.0.1 #But don't default to JupyterLab because I don't think Plotly demos work there yet
pandas
xlrd
matplotlib
seaborn
plotly
statsmodels
scipy
patsy
numpy
plotly-geo
psutil
requests
networkx
scikit-image
datashader
pyarrow
cufflinks